<header class="masthead mb-auto">
 <div class="inner">
   <h3 class="masthead-brand">Hi, <%= current_user.first_name %> </h3>
   <nav class="nav nav-masthead justify-content-center app-nav">
     <%= nav_helper 'span', 'nav-link' %>
     <%= login_helper "nav-link" %>
   </nav>
 </div>
</header>
