<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-center">
    <%= nav_helper 'span', 'p-2 text-muted', 'd-flex align-items-center' %>
    <%= login_helper "p-2 text-muted" %>
  </nav>
</div>


