<h1>About Me</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'facebook_profile_03:18.jpg', width: 300, alt: 'Profile Image' %>
  </div>
  <div class="col-md-8">
    <p>I completed my M.S. in Computational Mathematics and B.S in Applied Mathematics at SMU. I am interested in Machine Learning algorithms such as Generative Adversarial Networks to further the quest to achieve true Artificial Intelligence.</p>
  </div>
</div>
