<main role="main" class="inner cover">
 <h1 class="cover-heading">Welcome!</h1>
 <p class="lead">"There are three responses to a piece of design – yes, no, and WOW! Wow is the one to aim for" -Milton Glaser
</p>
 <p class="lead">
   <%= link_to 'About Me', about_me_path, class: "btn btn-lg btn-secondary" %>
 </p>
</main>
